* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    border: none;
    text-decoration: none;
    outline: none;
}

/*
Nav Bar da esquerda da tela do Menu
*/

body {
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.nav{
    display: flex;
    margin-left: 100px;
}
nav {
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: darkblue;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 30px;
    color: white;
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    color: white;
}

.logo i {
    padding: 0;
    width: 45px;
    margin: 10px 0 0 10px;
}

.logo span {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fa-solid {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background-color: rgb(67, 67, 168);
}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}


.logout {
    border-top: 1px solid white;
    position: absolute;
    bottom: 0;
}



.containerMain {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}

.userList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
Menu de agenda
*/



.containerLeftAgenda {
    padding: 10px;
    display: flex;
    height: 100vh;
    flex-basis: 60%;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s ease;
}

.containerLeftAgenda h1,p{
    align-self: center;

}

.containerLeftAgenda .containerCreate{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.containerCreate form{
    display: flex;
    width: 50%;
    align-items: center;
}

.containerCreate form select,input{
    border-radius: 10px;
    border: 1px solid darkblue;
}

.containerCreate form select{
    border-radius: 10px;
    border: 1px solid darkblue;
    width: 50%;
}

.containerCreate .createButton{
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease;
}

.containerCreate .createButton:hover{
    scale:1.1;
    cursor: pointer;
    box-shadow: 1px 0 10px darkblue;
    transition: 0.5s ease;
}

.containerEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.containerEdit form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    align-items: center;
}

.containerEdit form, input{
    padding: 10px 20px;

}






.containerLeftAgenda:hover {
    flex-basis: 70%;
    transition: 0.5s ease;
}



.containerRightAgenda {
    display: flex;
    height: 100vh;
    flex-basis: 40%;
    flex-direction: column;
    background-color: rgb(216, 230, 243);
    transition: 0.5s ease;
    padding: 10px;
    ;
    flex-wrap: wrap;
}
.containerRightAgenda h1,p{
    align-self: center;

}

.containerRightAgenda .containerCreate{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.containerEdit .createButton{
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease;
}

.containerEdit .createButton:hover{
    scale:1.1;
    cursor: pointer;
    box-shadow: 1px 0 10px darkblue;
    transition: 0.5s ease;
}

.containerRightAgenda:hover {
    flex-basis: 50%;
    transition: 0.5s ease;
}

.containerEdit .editButton{
    margin-top: 20px;
    background-color: darkcyan;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease;
}

.containerEdit .editButton:hover{
    scale:1.1;
    cursor: pointer;
    box-shadow: 1px 0 10px darkblue;
    transition: 0.5s ease;
}




/*
Menu de agenda
*/

.buttonsTable{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
};

.buttonsTable .editButton:hover{
    scale: 1.1;
}

.buttonsTable .deleteButton:hover{
    scale: 1.1;

}


table {
    border: 1px solid darkblue;
    border-collapse: collapse;
    width: 90%;
    align-self: center;
}

td, th {
    padding: 10px; /* Adds space inside each table cell */
}



.theadTable {
    background-color: darkblue;
    color: white;
    text-align: left;
}


.tbodyTable {
    color: darkblue;
    background-color: rgb(245, 247, 248);
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
    bottom: 0px;
}

.buttons button:hover {
    scale: 1.1;
    transition: 0.5s ease;
    cursor: pointer;

}

.createButton {
    background-color: darkblue;
    color: white;
}

.deleteButton {
    background-color: darkred;
    color: white;
    align-self: center;
}

.editButton {
    background-color: darkcyan;
    color: white;
    align-self: center;
    border-radius: 10px;
}

.containerActiveCenterAgenda .containerCreate {
    display: flex;
    align-items: start;
    flex-direction: column;

}

.containerCreate form {
    display: flex;
    flex-direction: column;
}

.containerCreate form input {
    margin: 10px;
    padding: 10px 20px;
}



/*
Menu de perfil
*/



/*
Menu de turmas
*/





.containerLeftTeam{
    padding: 10px;
    display: flex;
    height: 100vh;
    flex-basis: 60%;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s ease;
    color: darkblue;
    align-items: center;
}

.containerLeftTeam:hover{
    flex-basis: 70%;
    transition: 0.5s ease;
}


.containerLeftTeam .containerCreate{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.containerRightTeam{
    display: flex;
    flex-basis: 40%;
    background-color: lightblue;
    transition: 0.5s ease;
}
.containerRightTeam:hover{
    flex-basis: 50%;
    transition: 0.5s ease;
}
.containerActive{
    display: flex;
    flex-grow: 1;
}

.containerActiveMenu {
    display: flex;
    width: 100vw;

}
